@layer utilities {
  .custom-button {
    --n-border: 1px solid #f3455a !important;
    --n-text-color: #f3455a !important;
    --n-text-color-hover: #f3455a !important;
    --n-border-hover: 1px solid #b62f3f !important;
    --n-ripple-color: #b62f3f !important;
    --n-border-focus: 1px solid #b62f3f !important;
    -n-border-pressed: 1px solid #b62f3f !important;
    --n-text-color-focus: #b62f3f !important;
  }
  .custom-input {
    --n-border-hover: 1px solid #b62f3f !important;
    --n-ripple-color: #b62f3f !important;
    --n-border-focus: 1px solid #b62f3f !important;
    -n-border-pressed: 1px solid #b62f3f !important;
  }
  .button-green {
    background-color: rgb(0, 171, 85) !important;
  }
  .n-dialog__action .n-button.n-button--primary-type {
    background-color: #36ad6a !important;
  }
}
